@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@900&family=Russo+One&family=Square+Peg&display=swap');
.menu_wrap{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 100px;

}

.reserve{
    float: left;
    width:29%;
    box-sizing: border-box;
}
.checkin{
    float: left;
    margin-left: 10%;
    width:16%;
    box-sizing: border-box;}
.flight{
    float: right;
    width:45%;
    box-sizing: border-box;}
.img-thumbnail{
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.bitair1{
    margin-left: 330px;
}

.imgtrh{
    margin-bottom: 50px;

}

.img-thumbnail2{
    margin-left: 20px;
    margin-bottom: 30px;
}

.imgeverttext{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
}
.str1{
    margin-left: 20px;
}
.str2{
    margin-left: 50px;
}
.str3{
    margin-left: 100px;
}
.str4{
    margin-left: 140px;
}
.one-way1{
    margin-left: 20px;
}
.one-way2{
    margin-left: 220px;
}
.one-way3{
    margin-left: 190px;
}
.one-way4{
    margin-left: 210px;
}
.krw{
    font-size: 30px;
}
.krw1{
    margin-left: 20px;
}
.krw2{
    margin-left: 85px;
}
.krw3{
    margin-left: 60px;
}
.krw4{
    margin-left: 80px;
}
.krw1-1{
    margin-left: 5px;
}
.korona{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container1{
    font-family: 'Nanum Myeongjo', serif;
    background-color: #F8F8F8;

}