<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row"  style="margin-bottom: 10px">
        <div class="col-md-6">
            <h1 style="color: darkblue">Aircrafts List </h1>
        </div>
        <div class="col-md-6">
            <a href="/aircraft/new"><button type="button" class="btn btn-outline-primary" style="float: right">Add Aircraft</button></a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr class="table-active">
            <th scope="col">ID</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Model</th>
            <th scope="col">Number of seats</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="aircraft, iterStat:${aircrafts}">
            <tr cstyle="background-color: #fdfdfd">
                <th scope="row" th:text="${aircraft.aircraftId}">Dark</th>
                <td th:text="${aircraft.manufacturer}"></td>
                <td th:text="${aircraft.model}"></td>
                <td th:text="${aircraft.numberOfSeats}"></td>
                <td ><a th:href="@{/aircraft/delete(aircraftId=${aircraft.aircraftId})}" ><button type="button" class="btn btn-outline-danger btn-sm"  onclick="alert('Are you sure you want to delete?')">Delete</button></a></td>
            </tr>
        </div>
        </tbody>
    </table>
    <div>
        <ul class="pagination"
            th:with="start=${T(Math).floor(flights.number/10)*10 + 1},last = (${start + 9 < flights.totalPages ? start +9 : flights.totalPages})"
            th:style="${'justify-content:center'}">

            <li class="page-item disabled">
                <a class="page-link" href="#">Pages:</a>
            </li>

            <li th:classappend="${flights.first} ? 'disabled'" class="page-link">
                <a th:href="${flights.first} ? '#' :@{/flights(page=${flights.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <th:block th:each="page:${#numbers.sequence(start,last)}">
                <li th:class="${page== flights.number + 1} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/flights(page=${page})}" th:text="${page}"></a>
                </li>
            </th:block>

            <li th:classappend="${flights.last} ? 'disabled'" class="page-link">
                <a th:href="${flights.last} ? '#' : @{/flights(page=${flights.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        </ul>


    </div>
</th:block>
</body>
</html>