<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchFlight.css}">
</head>

<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: darkblue">어디로 떠나볼까요?</h1>
            </div>

        </div>
    </div>

    <form action="/flight/book" method="post" class="search-form">
        <div class="row">


            <div class="from-group col-md-4">
                <label class="col-form-label" for="departureAirport">출발지</label>
                <select class="form-control" id="departureAirport" name="departureAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="from-group col-md-4">
                <label class="col-form-label" for="destinationAirport">도착지</label>
                <span th:if="${AirportError!=null}" th:text="${AirportError}"
                      class="badge badge-danger"></span>
                <select class="form-control" id="destinationAirport" name="destinationAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label class="col-form-label" for="departureTime">가는날</label>
                <input type="date" class="form-control" placeholder="" id="departureTime"
                       name="departureTime" required>
            </div>


            <div class="form-group col-12">
                <button type="submit" class="btn btn-success" style="float: right">조회하기</button>
            </div>
        </div>

    </form>
    <div class="row result-row">
        <th:block th:if="${notFound !=null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">조회된 결과가 없습니다.</p>
            </div>
        </th:block>
        <th:block th:if="${flights}">
            <div class="row" style="margin-bottom: 10px; width:100%" >
                <div class="col-md-6">
                    <h1 style="color: darkblue">조회결과</h1>
                </div>

            </div>
            <table class="table table-sm">
                <thead>
                <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">항공편</th>
                    <th scope="col">출발지</th>
                    <th scope="col">도착지</th>
                    <th scope="col">이륙 일시</th>
                    <th scope="col">착륙 일시</th>
                    <th scope="col">비행 요금</th>
                    <th scope="col">항공사 / 항공기</th>
                    <th scope="col">잔여 좌석</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="flight, iterStat:${flights}">
                    <tr style="background-color: #fdfdfd">
                        <th scope="row" th:text="${flight.flightId}">Dark</th>
                        <td th:text="${flight.flightNumber}"></td>
                        <td th:text="${flight.departureAirport.airportName}"></td>
                        <td th:text="${flight.destinationAirport.airportName}"></td>
                        <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                        <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                        <td th:text="${flight.flightCharge}"></td>
                        <td th:text="${flight.aircraft.model}"></td>
                        <td th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
                        <td><a type="button" class="btn btn-primary btn-sm"
                               th:if="${flight.passengers.size()<flight.aircraft.numberOfSeats}"
                               th:href="@{/flight/book/new(flightId=${flight.flightId})}">예약하기</a></td>
                    </tr>
                </div>
                </tbody>
            </table>

        </th:block>

    </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">

        </p>
    </figure>

</th:block>
</body>
</html>