<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row"  style="margin-bottom: 10px">
        <div class="col-md-6">
            <h1 style="color: darkblue">항공편</h1>
        </div>
        <div class="col-md-6">
            <a href="/flight/new"><button type="button" class="btn btn-outline-primary" style="float: right">항공편 등록</button></a>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
        <tr class="table-active">
            <th scope="col">ID</th>
            <th scope="col">항공편</th>
            <th scope="col">출발지</th>
            <th scope="col">도착지</th>
            <th scope="col">이륙 일시</th>
            <th scope="col">착륙 일시</th>
            <th scope="col">비행 요금</th>
            <th scope="col">항공사 / 항공기</th>
            <th scope="col">잔여 좌석</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="flight, iterStat:${flights}">
            <tr style="background-color: #fdfdfd">
                <th scope="row" th:text="${flight.flightId}">Dark</th>
                <td th:text="${flight.flightNumber}"></td>
                <td th:text="${flight.departureAirport.airportName}"></td>
                <td th:text="${flight.destinationAirport.airportName}"></td>
                <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                <td th:text="${flight.flightCharge}"></td>
                <td th:text="${flight.aircraft.model}"></td>
                <td th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
                <td ><a th:href="@{/passengers(flightId=${flight.flightId})}">...</a></td>
                <td ><a th:href="@{/flight/delete(flightId=${flight.flightId})}"><button type="button" class="btn btn-outline-danger btn-sm"  onclick="alert('Are you sure to cancel this flight?')">삭제</button></a></td>
            </tr>
        </div>
        </tbody>
    </table>
    <div th:if="${flights != null}">
        <ul class="pagination"
            th:with="start=${T(Math).floor(flights.number/10)*10 + 1},last = (${start + 9 < flights.totalPages ? start +9 : flights.totalPages})"
            th:style="${'justify-content:center'}">

            <li class="page-item disabled">
                <a class="page-link" href="#">Pages:</a>
            </li>

            <li th:classappend="${flights.first} ? 'disabled'" class="page-link">
                <a th:href="${flights.first} ? '#' :@{/flights(page=${flights.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <th:block th:each="page:${#numbers.sequence(start,last)}">
                <li th:class="${page== flights.number + 1} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/flights(page=${page})}" th:text="${page}"></a>
                </li>
            </th:block>

            <li th:classappend="${flights.last} ? 'disabled'" class="page-link">
                <a th:href="${flights.last} ? '#' : @{/flights(page=${flights.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        </ul>


    </div>
</th:block>
</body>
</html>