<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    
    <script th:src="@{/js/highcharts/highcharts.js}"></script>
    <script th:src="@{/js/highcharts/highcharts-3d.js}"></script>
    <script th:src="@{/js/highcharts/accessibility.js}"></script>
    <script th:src="@{/js/highcharts/export-data.js}"></script>
    <script th:src="@{/js/highcharts/exporting.js}"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@900&family=Russo+One&family=Square+Peg&display=swap');
        .menu_wrap{
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 40px;
            margin-top: 70px;
            margin-bottom: 100px;


</head>

<body>
<th:block layout:fragment="content">

    <div class="row" >
        <img th:src="@{/img/bitair.jpg}" class="bitair1" alt="" width="500" height="150">
    </div>

    <div id="slideWrap" class="carousel" data-ride="carousel"
         style="margin-bottom: 100px;">

        <div class="carousel-inner">
            <a class="carousel-control-prev" href="#slideWrap" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slideWrap" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <div class="carousel-item active">
                <img th:src="@{/img/header-hg.jpg}"  alt="" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img th:src="@{/img/background.jpg}"  alt="" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img th:src="@{/img/air.jpg}"  alt="" width="1100" height="500">
            </div>
        </div>
    </div>



<!--    <div id="slideWrap1" class="carousel slide" data-ride="carousel">
        <div class="menu_wrap">
            <div class="reserve">
                <a class="reserve-a text-dark" href="#" ><i class="bi bi-calendar3-week"></i>예약조회</a>
            </div>
            <div class="checkin">
                <a class="checkin-a text-dark" href="#"><i class="bi bi-calendar-check-fill"></i>체크인</a>
            </div>
            <div class="flight">
                <a class="flight text-dark" href="#"><i class="bi bi-calendar-date-fill"></i>운항정보</a>
            </div>
        </div>
    </div>-->

<!--    <div class="cotainer2 text-center" >
        <div class="row">
            <div class="col">
        <img th:src="@{/img/img1.jpg}" class="img-thumbnail " alt="...">
            </div>
            <div class="col">
            <img th:src="@{/img/img2.jpg}" class="img-thumbnail " alt="...">
            </div>
                <div class="col">
                    <img th:src="@{/img/img3.jpg}" class="img-thumbnail " alt="...">
                </div>
                    <div class="col">
                    <img th:src="@{/img/img4.jpg}" class="img-thumbnail " alt="...">
                    </div>
                        <div class="col">
                        <img th:src="@{/img/img5.jpg}" class="img-thumbnail " alt="...">
                        </div>
        </div>
    </div>-->

    <div id="imgtr" class="imgtr">
        <div class="container" style="display: flex;">
            <h2 align="center">High Chart</h2>
            <th:block th:replace="~{highchart1.html :: chart1}"></th:block>
            <th:block th:replace="~{highchart2.html :: chart2}"></th:block>
        </div>
    </div>

    <div class="korona" style="border: 1px solid lightgray;">
        <img th:src="@{/img/korona.jpg}" width="1100">
    </div>

    <footer class="footer-95942 ">

        <div class="container1 ">
            <div class="row justify-content-center mx-0 no-gutters">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6 col-md mb-4 mb-md-0 ">
                            <h4>회사안내</h4>
                            <ul class="list-unstyled nav-links">
                                <li><a href="#" class="ab text-secondary">공지사항</a></li>
                                <li><a href="#" class="ab text-secondary">채용정보</a></li>
                                <li><a href="#" class="ab text-secondary">기업개요</a></li>
                                <li><a href="#" class="ab text-secondary">기업지배구조</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md mb-4 mb-md-0">
                            <h4>약관</h4>
                            <ul class="list-unstyled nav-links">
                                <li><a href="#" class="cd text-secondary">개인정보</a></li>
                                <li><a href="#" class="cd text-secondary">이용약관</a></li>
                                <li><a href="#" class="cd text-secondary">사이트맵</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md mb-4 mb-md-0 ">
                            <h4>대리점</h4>
                            <ul class="list-unstyled nav-links" >
                                <li><a href="#" class="de text-secondary">뉴스</a></li>
                                <li><a href="#" class="de text-secondary">면세점</a></li>


                            </ul>
                        </div>
                        <div class="col-sm-6 col-md mb-4 mb-md-0">
                            <h4>안내</h4>
                            <ul class="list-unstyled nav-links">
                                <li><a href="#" class="fg text-secondary">투자정보</a></li>
                                <li><a href="#" class="fg text-secondary">홍보센터</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md mb-4 mb-md-0">
                            <h4>고객서비스</h4>
                            <ul class="list-unstyled nav-links">
                                <li><a href="#" class="hi text-secondary">자주 묻는 질문(FAQ)</a></li>
                                <li><a href="#" class="hi text-secondary">고객의 말씀(Q&A)</a></li>
                                <li><a href="#" class="hi text-secondary">기내 유실물 찾기</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-12 pb-3">
                    <div class="border-top">

                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4">
                    <ul class="list-unstyled social mb-0 pb-0 nav-left">
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <span class="small">Colorlib &copy; Copyrights.</span>
                </div>
            </div>
        </div>

        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</th:block>
</body>
</html>