<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchFlight.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="text/javascript">

    </script>
</head>

<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: darkblue">어디로 떠나볼까요?</h1>
            </div>

        </div>
    </div>

    <form action="/flight/search" method="post" class="search-form">
        <div class="row">

            <div class="from-group col-md-4">
                <label class="col-form-label" for="departureAirport">출발지</label>
                <select class="form-control" id="departureAirport" name="departureAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="from-group col-md-4">
                <label class="col-form-label" for="destinationAirport">도착지</label>
                <span th:if="${AirportError!=null}" th:text="${AirportError}"
                      class="badge badge-danger"></span>
                <select class="form-control" id="destinationAirport" name="destinationAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>
            </script>
            <div class="form-group col-md-4">
                <label class="col-form-label" for="departureTime">가는날</label>
                <input type="date" class="form-control" placeholder="" id="departureTime"
                       name="departureTime" required>
            </div>
            <div class="form-group col-12">
                <button type="submit" class="btn btn-success" style="float: right">조회하기</button>
            </div>
            <div id="container"></div>
            <script th:inline="javascript">
            var airport_list=new Array();
            var count_value=new Array;

            /*[# th:each="air : ${airportList}"]*/
            airport_list.push(/*[[${air.key}]]*/);
            count_value.push(/*[[${air.value}]]*/);
             /*[/]*/

            function array2(rows, columns){
	            var arr = new Array(rows);
                for(var i = 0; i < rows; i++){
    	            arr[i] = new Array(colums);
                     }
                     return arr;
                     }
            var arr = array2(airport_list.length, 2);

            for(var i = 0; i < airport_list.length; i++){
            arr[i][0].push(airport_list[i]);
            arr[i][1].push(count_value[i]);
            }

            const chart = Highcharts.chart('container', {
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45
                    }
                },
                title: {
                    text: '2022 가장 인기있는 국내 여행지는?'
                },
                subtitle: {
                    text: '사용자들의 선택'
                },
                plotOptions: {
                    pie: {
                        innerSize: 100,
                        depth: 45
                    }
                },
                series: [{
                    name: '비행기 예매 현황',
                    data: arr
                }]
            });
            </script>
            <script src="/css/searchFlight.css"></script>
        </div>
    </form>
    <div class="row result-row">
        <th:block th:if="${notFound !=null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">No Record Found!</p>
            </div>
        </th:block>
        <th:block th:if="${flights!=null}">
            <div class="row" style="margin-bottom: 10px">
                <div class="">
                    <h1 style="color: darkblue">조회결과</h1>
                </div>

            </div>
            <table class="table table-sm">
                <thead>
                <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">항공편</th>
                    <th scope="col">출발지</th>
                    <th scope="col">도착지</th>
                    <th scope="col">출발시간</th>
                    <th scope="col">도착시간</th>
                    <th scope="col">비행요금</th>
                    <th scope="col">항공사</th>
                    <th scope="col">잔여좌석</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="flight, iterStat:${flights}">
                    <tr style="background-color: #fdfdfd">
                        <th scope="row" th:text="${flight.flightId}">Dark</th>
                        <td th:text="${flight.flightNumber}"></td>
                        <td th:text="${flight.departureAirport.airportName}"></td>
                        <td th:text="${flight.destinationAirport.airportName}"></td>
                        <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                        <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                        <td th:text="${flight.flightCharge}"></td>
                        <td th:text="${flight.aircraft.model}"></td>
                        <td th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
                    </tr>
                </div>
                </tbody>
            </table>


        </th:block>

    </div>


</th:block>
</body>
</html>