<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <style>
        @media ( max-width: 770px ) {
            .search-btn {
                width: 90px;
            }
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: darkblue; padding-top: 10%;">예약 확인</h1>
                <p>예약을 확인하려면 항공편ID와 승객ID를 입력해주세요.</p>
            </div>

        </div>
    </div>

    <div class="row">
        <th:block th:if="${notFound !=null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">조회된 결과가 없습니다.</p>
            </div>
        </th:block>

        <hr/>


        <table class="table table-hover">
            <thead>
            <tr class="table-active">
                <th scope="col">성</th>
                <th scope="col">이름</th>
                <th scope="col">전화번호</th>
                <th scope="col">여권번호</th>
                <th scope="col">이메일</th>
                <th scope="col">항공편</th>
                <th scope="col">출발지</th>
                <th scope="col">도착지</th>
                <th scope="col">이륙 일시</th>
                <th scope="col">착륙 일시</th>
                <th scope="col">비행 요금</th>
                <th scope="col">항공기</th>
            </tr>
            </thead>
            <div th:each="verifypassenger, iterStat:${verifyPassengers}">
                <tr style="background-color: #fdfdfd">
                    <th scope="row" th:text="${verifypassenger.passenger.firstName}"></th>
                    <td th:text="${verifypassenger.passenger.lastName}"></td>
                    <td th:text="${verifypassenger.passenger.phoneNumber}"></td>
                    <td th:text="${verifypassenger.passenger.passportNumber}"></td>
                    <td th:text="${verifypassenger.passenger.email}"></td>
                    <td th:text="${verifypassenger.flight.flightNumber}"></td>
                    <td th:text="${verifypassenger.flight.departureAirport.airportName}"></td>
                    <td th:text="${verifypassenger.flight.destinationAirport.airportName}"></td>
                    <td th:text="${verifypassenger.flight.departureDate+' '+verifypassenger.flight.departureTime}"></td>
                    <td th:text="${verifypassenger.flight.arrivalDate+' '+verifypassenger.flight.arrivalTime}"></td>
                    <td th:text="${verifypassenger.flight.flightCharge}"></td>
                    <td th:text="${verifypassenger.flight.aircraft.model}"></td>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AGENT')">
                        <form method="post" action="/flight/book/cancel">
                            <input type="hidden" th:value="${verifypassenger.passenger.passengerId}" name="passengerId">
                            <input type="hidden" th:value="${verifypassenger.id}" name="verifypassengerId">
                            <button type="submit" class="btn btn-sm btn-danger">Cancel This Ticket</button>
                        </form>
                    </th>
            </div>

            </tbody>

        </table>


    </div>
</th:block>
</body>
</html>