<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <style>
        @media ( max-width: 770px ) {
            .search-btn {
                width: 90px;
            }
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: darkblue; padding-top: 10%;">예약 확인</h1>
                <p></p>
            </div>

        </div>
    </div>

    <div class="row">
        <th:block th:if="${notFound !=null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">조회된 결과가 없습니다.</p>
            </div>
        </th:block>

        <hr/>
    </div>

        <table class="table table-hover">
            <thead>
            <tr class="table-active">
                <th scope="col">성</th>
                <th scope="col">이름</th>
                <th scope="col">전화번호</th>
                <th scope="col">여권번호</th>
                <th scope="col">이메일</th>
                <th scope="col">항공편</th>
                <th scope="col">출발지</th>
                <th scope="col">도착지</th>
                <th scope="col">이륙 일시</th>
                <th scope="col">착륙 일시</th>
                <th scope="col">비행 요금</th>
                <th scope="col">항공기</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="verifypassenger, iterStat:${verifyPassengers}">
                <tr style="background-color: #fdfdfd">
                    <th scope="row" th:text="${verifypassenger.passenger.firstName}"></th>
                    <td th:text="${verifypassenger.passenger.lastName}"></td>
                    <td th:text="${verifypassenger.passenger.phoneNumber}"></td>
                    <td th:text="${verifypassenger.passenger.passportNumber}"></td>
                    <td th:text="${verifypassenger.passenger.email}"></td>
                    <td th:text="${verifypassenger.flight.flightNumber}"></td>
                    <td th:text="${verifypassenger.flight.departureAirport.airportName}"></td>
                    <td th:text="${verifypassenger.flight.destinationAirport.airportName}"></td>
                    <td th:text="${verifypassenger.flight.departureDate+' '+verifypassenger.flight.departureTime}"></td>
                    <td th:text="${verifypassenger.flight.arrivalDate+' '+verifypassenger.flight.arrivalTime}"></td>
                    <td th:text="${verifypassenger.flight.flightCharge}"></td>
                    <td th:text="${verifypassenger.flight.aircraft.model}"></td>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_AGENT')">
                        <form method="post" action="/flight/book/cancel">
                            <input type="hidden" th:value="${verifypassenger.passenger.passengerId}" name="passengerId">
                            <input type="hidden" th:value="${verifypassenger.id}" name="verifypassengerId">
                            <button type="submit" class="btn btn-sm btn-danger">예약 취소</button>
                        </form>
                    </th>
            </div>
            </tbody>

        </table>

        <div>
            <ul class="pagination"
                th:with="start=${T(Math).floor(verifyPassengers.number/10)*10 + 1},last = (${start + 9 < verifyPassengers.totalPages ? start +9 : verifyPassengers.totalPages})"
                th:style="${'justify-content:center'}">

                <li class="page-item disabled">
                    <a class="page-link" href="#">Pages:</a>
                </li>

                <li th:classappend="${verifyPassengers.first} ? 'disabled'" class="page-link">
                    <a th:href="${verifyPassengers.first} ? '#' :@{/verifyPassengers(page=${verifyPassengers.number})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <th:block th:each="page:${#numbers.sequence(start,last)}">
                    <li th:class="${page== verifyPassengers.number + 1} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/verifyPassengers(page=${page})}" th:text="${page}"></a>
                    </li>
                </th:block>

                <li th:classappend="${verifyPassengers.last} ? 'disabled'" class="page-link">
                    <a th:href="${verifyPassengers.last} ? '#' : @{/verifyPassengers(page=${verifyPassengers.number + 2})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
            </ul>
        </div>
</th:block>
</body>
</html>